.header-container {
    padding: 0;
}

.navbar {
    background: #404996;
}

.nav-link {
    color: #ffffff;
}

.nav-link:visited {
    color: #ffffff;
}

.nav-link:hover, a:active, a:focus {
    color:#ffffff;
}
  